.container {
    display: grid;
    height: 100vh;
    }
    .header { grid-area: header; background: lightblue; }
    .footer { grid-area: footer; background: lightgray; }
    .main { grid-area: main; background: white; }
    .left { grid-area: left; background: lightcoral; }
    .right { grid-area: right; background: lightgreen; }

    