.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas:
    "header header header header header header"
    "main main main main sidebar sidebar"
    "main main main main sidebar sidebar"
    "main main main main sidebar sidebar"
    "main main main main sidebar sidebar"
    "footer footer footer footer footer footer";}

.item-1{ grid-area: header;
background-color: #f1c40f;}

.item-2{
    grid-area: main;
    background-color: #e74c3c;}

.item-3{
    grid-area: sidebar;
    background-color: #3498db;}
        
.item-4{
    grid-area:footer;
    background-color: #2ecc71;}
        
    