.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;}

.item-1{grid-column:1/7;
grid-row: 1/2;
background-color: brown;}
